.app {
    // TODO use utility classes for some of these
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    font-family: 'noto-sans', sans-serif;
    background-color: $color-gray-dark;
    color: $color-font-light;

  &__header {
    // TODO use/create utility classes for some of these
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
    gap: 4px;
  }

  &__content {
    padding: 8px;

    & .playlist__header {
      padding: 8px;
      border-radius: 4px;
      background-color: $color-primary;
    }
  }
}