.grid
    &__row
        display grid
        grid-auto-flow column
        padding 0 2px 0 4px
        border-width 1px 0 0 0
        border-style solid
        border-color $color-transparent
        border-left-width 1px

        &.-selected
            border-left-color $color-accent3-coolBlue
            border-left-width 3px
            border-top-left-radius 3px
            border-bottom-left-radius 3px

        &:last-child
            border-bottom-width 1px

    &__cell
        padding 0 4px