@mixin fontface($font-name, $type, $weight, $style) {
  @font-face {
    font-family: $font-name;
    src: url('../../fonts/#{$font-name}/#{$font-name}-#{$type}.eot');
    src: local('#{$font-name} #{$type}'),
         local('#{$font-name}-#{$type}'),
         url('../../fonts/#{$font-name}/#{$font-name}-#{$type}.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/#{$font-name}/#{$font-name}-#{$type}.woff2') format('woff2'),
         url('../../fonts/#{$font-name}/#{$font-name}-#{$type}.woff') format('woff'),
         url('../../fonts/#{$font-name}/#{$font-name}-#{$type}.ttf') format('truetype');
    font-weight: $weight;
    font-style: $style;
  }
}