// Analogous (harmony) color scheme

// Primary color (cool navy)
$color-primary: #475A7E;
$color-primary-dark: #1a3152;
$color-primary-light: #7587ad;

// Secondary color (cool navy)
$color-secondary: #47757e;
$color-secondary-dark: #184952;
$color-secondary-light: #75a4ad;

// Tertiary color (cool purple)
$color-tertiary: #4f477e;
$color-tertiary-dark: #232051;
$color-tertiary-light: #7d72ae;

$color-gray: #424242;
$color-gray-dark: #1b1b1b;
$color-gray-light: #6d6d6d;

$color-transparent: rgba(0,0,0,0);

$color-font-light: #eeeeee;

$font-size: calc(1rem + 2vmin);
$font-size-sm: calc(1em - 0.30em);

// TOOO finalize sizes
$spacing-xs: 0.2em;
$spacing-sm: 0.4em;
$spacing-md: 0.8em;
$spacing-lg: 1.2em;
$spacing-xl: 1.6em;

$spacing-size-map: (
  "xs": $spacing-xs,
  "sm": $spacing-sm,
  "md": $spacing-md,
  "lg": $spacing-lg,
  "xl": $spacing-xl,
);