$color-secondary: #4a6c6f;
$color-secondary-dark: #1f4144;
$color-secondary-light: #779a9d;

// light purple maybe accent?
$color-secondary: #846075;
$color-secondary-dark: #573649;
$color-secondary-light: #b48ea4;

$color-primary: #263941;
$color-primary-dark: #00131b;
$color-primary-light: #4f636c;

$color-accent1-highlightGreen: #89B6A5;
$color-accent2-oliveGreen: #82968C;
// maybe good secondary
$color-accent3-coolBlue: #8A95A5;

$color-gray: #424242;
$color-gray-dark: #1b1b1b;
$color-gray-light: #6d6d6d;

$color-transparent: rgba(0,0,0,0);

$color-font-light: #eeeeee;

$font-size: calc(1rem + 2vmin);
$font-size-sm: calc(1em - 0.30em);

// TOOO finalize sizes
$spacing-xs: 0.2em;
$spacing-sm: 0.4em;
$spacing-md: 0.8em;
$spacing-lg: 1.2em;
$spacing-xl: 1.6em;

$sizes: (
  "xs": $spacing-xs,
  "sm": $spacing-sm,
  "md": $spacing-md,
  "lg": $spacing-lg,
  "xl": $spacing-xl,
);