html {
  font-size: 10px;
}

body {
  font-size: $font-size;
  font-family: 'noto-sans', sans-serif;
}

@include fontface("noto-sans", "regular", 400, normal);
@include fontface("noto-sans", "italic", 400, italic);
@include fontface("noto-sans", "bold", 700, normal);
@include fontface("noto-sans", "bold-italic", 700, italic);