input {
    font-size: 0.6em;
    padding: 2px 4px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
}

button {
    font-size: 0.6em;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid $color-transparent;
    color: $color-font-light;
}

// delete (or move??)
.primary {
    background-color: $color-primary;
    border-color: $color-primary;
}
.secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
}
.accent {
    background-color: $color-accent;
    border-color: $color-accent;
}
.test {
    background-color: $color-test;
    border-color: $color-test;
}