@use 'sass:map';

input {
    font-size: 0.6em;
    padding: $spacing-1 $spacing-2;
    border-radius: 2px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
}

// TODO move to form.scss
button {
    font-size: 0.6em;
    padding: $spacing-2 $spacing-3;
    border-radius: 2px;
    border: 1px solid $color-transparent;
    color: $color-font-light;
}

// TODO move to colors utilty module
.primary {
    background-color: $color-primary;
    border-color: $color-primary;
}
.secondary {
    background-color: $color-secondary;
    border-color: $color-secondary;
}
.accent {
    background-color: $color-tertiary;
    border-color: $color-tertiary;
}