input {
    font-size: 0.6em;
    padding: 2px 4px;
    border-radius: 2px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
}

// TODO move to form.scss
button {
    font-size: 0.6em;
    padding: 4px 6px;
    border-radius: 2px;
    border: 1px solid $color-transparent;
    color: $color-font-light;
}
