ul {
  // TODO set default margin, after determining font-size
  //  (base it on Golden Rule website)
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}