.app {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr;
  background-color: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
}

.app__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.app__content {
  margin: 8px;
}