.d-grid {
    display: grid;
    align-items: center;

    &__flow--column {
        grid-auto-flow: column;
    }
}

.gap-sm {
    gap: 0.24rem;
}

.gap-md {
    gap: 0.52rem;
}

.gap-lg {
    gap: 1rem;
}